params {
  normal =  "/hpcshare/genomics/yabili_pipeline_vda/yabili_germline_vda/NIST7035_TAAGGCGA/results/Preprocessing/NIST7035_TAAGGCGA/Recalibrated/NIST7035_TAAGGCGA.recal.bam"
  disease = "/hpcshare/genomics/yabili_pipeline_vda/yabili_germline_vda/NIST7086_CGTACTAG/results/Preprocessing/NIST7086_CGTACTAG/Recalibrated/NIST7086_CGTACTAG.recal.bam"
 
 
  //tsv = "./results/Preprocessing/TSV/recalibrated.tsv"
  //normal =  "./results/Preprocessing/NIST7035_TAAGGCGA/Recalibrated/NIST7035_TAAGGCGA.recal.bam"
  //disease = "./results/Preprocessing/NIST7086_CGTACTAG/Recalibrated/NIST7086_CGTACTAG.recal.bam"



  normal_ID = "NIST7035"
  disease_ID = "NIST7086"

  
  ref = "/hpcshare/genomics/references/gatk_bundle/reference/resources_broad_hg38_v0_Homo_sapiens_assembly38.fasta"
  
  outdir="results/Mutect2"
  
  gnomad="/hpcshare/genomics/references/gatk_bundle/resources/somatic-hg38_af-only-gnomad.hg38.vcf.gz"
  interval ="/hpcshare/genomics/references/gatk_bundle/resources/resources_broad_hg38_v0_wgs_calling_regions.hg38.interval_list"
  snp_interval= "/hpcshare/genomics/references/gatk_bundle/common_snp.interval_list"
  dbsnp = "/hpcshare/genomics/references/gatk_bundle/resources/resources_broad_hg38_v0_Homo_sapiens_assembly38.dbsnp138.vcf" 
  pon = "/hpcshare/genomics/yabili_pipeline_vda/yabili_somatic_vda/PON/results/CreateSomaticPanelOfNormals/pon.vcf.gz"
  pon_index = "/hpcshare/genomics/yabili_pipeline_vda/yabili_somatic_vda/PON/results/CreateSomaticPanelOfNormals/pon.vcf.gz.tbi"
}


profiles {

    standard {
      	process.executor = 'local'
  	    process.container = '/home2/yabili/nf_gatk_somatic_pre_processing/gatk-germline_v0.sif'
        singularity.enabled = true
	      singularity.autoMounts = true
    }

    cluster {
        process.executor = 'pbspro'
        process.queue = 'cpunodes'
        process.cpus = 2
      	process.container = '/home2/yabili/nf_gatk_somatic_pre_processing/gatk-germline_v0.sif'
        singularity.enabled = true
      	singularity.autoMounts = true
    }
      vda {
        process.executor = 'pbspro'
        process.queue = 'cpunodes'
        process.cpus = 25
        process.container = "/hpcshare/genomics/yabili_pipeline_vda/yabili_resources_vda/singularity/sarek_2.7.sif"
    }
     singularity {
       docker.enabled = false
       singularity.autoMounts = true
       singularity.enabled = true
       singularity.runOptions = '--bind /hpcshare/'
    }
}


process {
  withName: mutect2 {
    container = "/hpcshare/genomics/yabili_pipeline_vda/yabili_resources_vda/singularity/sarek_2.7.sif"
  }
  withName: getpileup {
    container = "/hpcshare/genomics/yabili_pipeline_vda/yabili_resources_vda/singularity/sarek_2.7.sif"
  }
withName: calculatecont {
    container = "/hpcshare/genomics/yabili_pipeline_vda/yabili_resources_vda/singularity/sarek_2.7.sif"
  }
}



/*
nextflow run <your_script> -profile cluster
process.$alig}.module = 'singularity/3.5.3'
process.$markduplicate.module = 'singularity/3.5.3'
process.$getMetrics.module = 'singularity/3.5.3'
process.$baserecalibration.module = 'singularity/3.5.3'
process.$haplotypecaller.module = 'singularity/3.5.3'
process.$genomicdbimport.module = 'singularity/3.5.3'
process.$jointgenotyping.module = 'singularity/3.5.3'
*/
 
