profiles {

    standard {
      	process.executor = 'local'
        singularity.enabled = true
      	singularity.autoMounts = true
    }

      vda {
        process.executor = 'pbspro'
        process.queue = 'cpunodes'
        process.cpus = 24
        process.memory  = 20.GB
    }
      singularity {
       docker.enabled = false
       singularity.autoMounts = true
       singularity.enabled = true
    }
}


process {
    withName:vcf2maf {
	  container = '/hpcshare/genomics/yabili_pipeline_vda/yabili_annotation_vda/container/vcf2maf_1.0.sif'
	  containerOptions = '-B /hpcshare/'
    }
    withName:oncokb_mafannotator {
    container = '/hpcshare/genomics/yabili_pipeline_vda/yabili_annotation_vda/container/oncokb_singularity/oncokb.sif'
    containerOptions = '-B /hpcshare/'
   }
}

